html {
    height: 100%;
}

body {
    color: #f8f1ef;
    font-family: 'Source Sans Pro', sans-serif;
}

#introduction {
    background: url('../images/ForGoodnessCakeLogoWidescreen.jpg') no-repeat center center fixed;
    background-size: cover;
}

#about {
    background: url('../images/bg.jpg') no-repeat left center;
    background-size: cover;
}

#contact {
    background: url('../images/bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 85vh !important;
}

.view-height {
    height: 95vh;
}

.logo-font{
    text-transform: uppercase;
    font-weight: 300;
}

.logo-color {
    color: #1b130f;
}

.main-logo-link {
    width: fit-content;
}

.contact-now-button {
    background:#91b8bf;
    color:#f8f1ef;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-bottom { 
    align-items: end;
}

.contact-now-button:hover,
.contact-now-button:active,
.contact-now-button:focus {
    background: #3f2d2c;
    color:#f8f1ef;
}

.submit-btn-color {
    background:#91b8bf;
    color:#f8f1ef;
}

.header-container {
    padding-top: 50px;
}

.center-form {
    margin: 0;
}

.card-footer{
    background-color: #91b8bf !important;
}

.social-media-logo {
    color: #f8f1ef;
}

.palette {
    color: #e1bdbd;
    color: #3f2d2c;
    color: #e2bcb8;
    color: #bc403c;
    color: #1b130f;
    color: #c2706a;
    color: #bc6a4a;
    color: #f8f1ef;
    color: #91b8bf;
    color: #f0dbe4;
}